# build output
dist/
# generated types
.astro/

service_acount_key.json

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vercel

Firebase-Demo/.pio
Firebase-Demo/.vscode/.browse.c_cpp.db*
Firebase-Demo/.vscode/c_cpp_properties.json
Firebase-Demo/.vscode/launch.json
Firebase-Demo/.vscode/ipch